@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.description{
    position: relative;
    height: fit-content;
    max-height: 70%;
    width: 100%;
    overflow-y: scroll;
}

.title{
    width: fit-content;
    animation-name: marquee;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.playlist{
    width: 100%;
    height: fit-content;
    max-height: calc(90vh - 22px);
    overflow-y: scroll;
}
